set(CMAKE_SYSTEM_PROCESSOR ARM)
set(CMAKE_POSITION_INDEPENDENT_CODE True)
set(tools /usr/local/Cavium_Networks/OCTEONTX-SDK/tools)
set(CMAKE_C_COMPILER ${tools}/bin/aarch64-marvell-linux-gnu-gcc)
set(CMAKE_CXX_COMPILER ${tools}/bin/aarch64-marvell-linux-gnu-g++)
